*.class
*.log
.classpath
.idea
.settings
/.git-credentials
/.gitconfig
/.gradle/
/lib/db_seeder.jar
/resources/third_party/
Transfer/
bin
build
eclipse_workspace/
gradle/
gradlew
gradlew.bat
timer.txt
tmp
