*.class
*.log
.classpath
.idea
.settings
/.git-credentials
/.gitconfig
/.gradle/
/lib/db_seeder.jar
/resources/statistics/db_seeder_local*
/resources/statistics/db_seeder_summary.*
/resources/third_party/
Transfer/
bin
build
eclipse_workspace/
gradle/
gradlew
gradlew.bat
timer.txt
tmp
