*.class
*.log
.classpath
.idea
.settings
/.git-credentials
/.gitconfig
/.gradle/
/.vs/
/.vscode/
/lib/db_seeder.jar
/resources/docker/trino/catalog/db_seeder_mysql.properties
/resources/docker/trino/catalog/db_seeder_oracle.properties
/resources/docker/trino/catalog/db_seeder_postgresql.properties
/resources/docker/trino/catalog/db_seeder_sqlserver.properties
/resources/third_party/
/site/
Transfer/
bin
build
eclipse_workspace/
gradle/
gradlew
gradlew.bat
timer.txt
tmp
