[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mkdocs = "*"
mkdocs-autorefs = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocstrings = "*"
mkdocstrings-python = "*"
